# Ignore compiled files
Dist/
Build/
Debug/
SoundProject(2012)/Debug/
SoundProject(2012)/SoundProject(2012)/Debug/

# Ignore Visual Studio session files
ipch/
*.opensdf
*.sdf
*.suo

# Ignore lock and backup files
*.autosave
*.dia~
*.ods#
~*
.~*
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a